{% extends 'basic_app/base.html' %}

{% load static %}

{% block body_block %}
<div class="mt-4 p-5 bg-primary text-white rounded">
    {% if registered %}
        <h1>Thank you for registering</h1>

    {% else %}
        <h1>Register Here!</h1>

  </div>
  <div class="container-fluid">
    <form enctype='multipart/form-data' method='POST'>
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" value="Submit">
    </form>
  </div>

  {% endif %}
{% endblock body_block %}

